#######################################################################################


#ods配置
ods_db_name="ods_db"


#etl配置
etl_db_name="default"


#cboard配置
cboard_db_name="cboard_db"


#批量数据导入的时间段,如2018-03-11 11:11:11 'null'
startTime='null'
endTime='null'


#mysql配置
mysql_addr="jdbc:mysql://172.18.110.32:3306"
mysql_user='root'
mysql_pwd='scca123'
mysql_DB='esigngw'


#oracle1配置
oracle1_addr='jdbc:oracle:thin:@172.18.110.32:1521'
oracle1_user='test'
oracle1_pwd='scca123'
oracle1_DB='ORCL'


#oracle2配置
oracle2_addr='jdbc:oracle:thin:@172.18.110.32:1521'
oracle2_user='test'
oracle2_pwd='scca123'
oracle2_DB='ORCL'

#oracle3配置
oracle3_addr='jdbc:oracle:thin:@172.18.110.32:1521'
oracle3_user='test'
oracle3_pwd='scca123'
oracle3_DB='ORCL'


#sqlserver配置
sqlserver_addr='jdbc:sqlserver://172.18.110.32:1433'
sqlserver_user='sa'
sqlserver_pwd='scca@123'
sqlserver_DB='crm'


#######################################################################################
